
<!-- <div>Works</div> -->


<div class="container center login">

  <!-- <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User name</label>
    <input type="email" [(ngModel)]="user_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div> -->

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input [(ngModel)]="password" type="text" class="form-control" id="exampleInputPassword1">
  </div>


  <button (click)="updateUser()">Update Details</button>
  <div  *ngIf="updatestatus===true">Update successful</div>
  <button *ngIf="updatestatus===true" routerLink="/photos">Click to see photos</button>
<!--
  <div *ngIf="registration"> Sign up successful. <a routerLink="/login">Click here to log in.</a> </div>
  <div *ngIf="!registration">{{signupmessage}}</div> -->

   <!-- <div class="error" *ngIf="signInStatus===false">Your login credentials are incorrect.</div> -->
</div>

