
 <div class="row g-3 container">
  <div class="col-md-6">
    <label for="inputalbumId" class="form-label">Album Id</label>
    <input [(ngModel)]="albumId_fromC" type="number" class="form-control" id="inputalbumId">
  </div>
  <div class="col-md-6">
    <label for="inputTitle" class="form-label">Title</label>
    <input [(ngModel)]="title_fromC" type="text" class="form-control" id="inputTitle">
  </div>
  <!-- <div class="col-12">
    <label for="inputUrl" class="form-label">Image URL</label>
    <input [(ngModel)]="url_fromC" type="text" class="form-control" id="inputUrl" >
  </div>
  <div class="col-12">
    <label for="inputTn" class="form-label">Thumbnail URL</label>
    <input [(ngModel)]="tn_fromC" type="text" class="form-control" id="inputTn">
  </div> -->
  <p>Select an image</p>
  <div class="input-group mb-3">

    <!-- <input type="file" (change)="onChange($event)" class="form-control" id="imageUrl" name="file_fromC" multiple> -->
    <input type="file" (change)="trackFile($event)" class="form-control" id="imageUrl" name="file_fromC">
    <!-- $event to pass all the information -->
    <!-- in target property there is a file -->
    <!-- bring the value/name of files from your lacal computer to the Form -->
    <!-- onchange event keep track of the change -->

    <!-- <button (click)="uploadImage()" class="btn btn-outline-secondary" type="button" id="btn" >Save</button> -->
  </div>

 <!-- <p>Select a thumbnail image</p>
  <div class="input-group mb-3">
    <input type="file" (change)="onChange($event)" class="form-control" id="inputGroupFileAddon04" name="file_fromC" multiple>

    <button (click)="uploadImage()" class="btn btn-outline-secondary" type="button" id="btn" >Save</button>
  </div> -->

  <div class="mt-3 d-flex">
    <!-- <button (click)="getPosts()"class="btn btn-primary me-2">GET</button> -->

  <!-- <button class="btn btn-primary" (click)="addNew()">Add</button> -->
  <button class="btn btn-primary" (click)="addNewPhoto()">Add</button>
</div>




<div class="table-responsive">
  <table class="table">
    <tr><th >albumId</th>
        <th>title</th>
        <th>Image</th>
        <th>Thumbnail</th>
    </tr>
     <tr [class.fadein]="i==0" *ngFor="let item of photos; let i = index">


      <td width="5%">{{item.albumid}}</td>
      <td>{{item.title}}</td>
      <td>{{item.url}}</td>
      <td><img [src]="'http://localhost:4400/' +  item.url" class="image"></td>
      <!-- <td><img [src]="'http://localhost:4400/' + item.thumbnailUrl" class="thumbnail"></td> -->

        <!-- <div class="d-flex">
        <button  (click)="edit(post.ID)" class="btn btn-primary me-2">Edit</button>
        <button  class="me-3 btn btn-success"(click)="deletePost(post.ID)">DELETE</button>
        </div>
      </td>  -->
      <!-- <td><img [src]="'http://localhost:4600/' + post.thumbnail " class="thumbnail"></td> -->

  <!-- <td><img [src]="'http://localhost:4600/' + post.thumbnail" class="thumbnail"></td> -->
      </tr>
  </table>
</div>

</div>












<!-- (change)="onChange($event)"
(click)="uploadImage()" -->
