<div class="container center login">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User name</label>
    <input type="email" [(ngModel)]="user_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input [(ngModel)]="password2" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <button (click)="signUp()">Sign Up</button>

  <div *ngIf="registration"> Sign up successful. <a routerLink="/login">Click here to log in.</a> </div>

  <!-- <div class="error" *ngIf="signInStatus===false">Your login credentials are incorrect.</div> -->
</div>


