

<div class="container">

  <div>
    <label class="pe-2" for="id">Id number: </label>
    <input disabled id="id" type="text" [(ngModel)]="idNumber">
   </div>

  <div>
    <label  class="p-2" for="input">Input: </label>
    <input id="input" type="text" [(ngModel)]="input"><br>
  </div>

  <!-- <div *ngIf="trueStatement" [style.display]="showMessage"> Enter new input in the box</div>

  <div *ngIf="status" [style.display]="showMessage">Data is updated</div> -->
  <!-- <div *ngIf="!updateStatus " >Data is not updated</div> -->

  <!-- <div *ngIf="deleteStatus" [style.display]="showMessage">Data is deleted</div>

  <div *ngIf="createStatus" [style.display]="showMessage">new data is added</div> -->


  <button class="btn  m-3 btn-primary" (click)="display()">Display</button>

  <button class="btn m-3 btn-danger" (click)="create()">Create</button>


  <button class="btn m-3 btn-success" (click)="update()">Update</button>

  <button class="btn m-3 btn-info" (click)="delete()">Delete</button>



    <div class="d-flex justify-content-between updateBox m-2">
      <table class="box">
        <tr>
          <th >ID</th>
          <th>Input</th>
          <th></th>
        </tr>
        <tr class="display" *ngFor="let data of allData" >
          <td>{{data.id}}</td>
        <td>{{data.input}}</td>
        <td><a [routerLink]="['/crud', data.id]" (click)="edit(data.id)"  >Edit</a></td>
        </tr>
    </table>
      <!-- <button (click)="update()" class="btn btn-success">Update</button> -->

    </div>
  </div>




